html,
body {
  background: rgb(41, 223, 35);
  background-size: cover;
  margin: 0px;
  padding: 0px;
}
header {
  border: 3px solid;
  background: green;
}
nav {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}
nav ul {
  display: flex;
}
nav li {
  background: green;
  padding: 5px;
  list-style: none;
}

nav li a {
  border-bottom: none;
  text-decoration: none;
}

.main-content {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  background: rgb(151, 151, 238);
  text-align: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
